<h1><%= @film.title %></h1>
<h4><%= @film.genre %></h4>
<h4><%= @film.year %></h4>
<h4><%= @film.synopsis %></h4>
<h4><%= image_tag @film.picture %></h4>

<%= button_to 'add to favorites', favorites_path(:film_id => @film.id), method: :post  %>